* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  font-size: 20px;
}

.head_bar,
footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0a2540;
  color: white;
}

main {
  overflow: auto;
  align-items: center;
  min-height: 100vh;
  width: auto;
  margin: 0 auto;
  padding: 15px;
  background-color: white;
}

.input_section {
  font-size: 20px;
  float: left;
  padding: 20px;
  width: 45%;
}

.input_section > h2 {
  text-align: center;
  color: #0a2540;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  display: block;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  background-color: #0a2540;
  color: white;
  border: 0;
  border-radius: 5px;
}

.input_section > form > button:hover {
  background: #0000cd;
  text-decoration: none;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: #0a2540;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 5px 5px 5px;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: #0a2540;
  font-weight: bold;
  font-size: 20px;
  margin-right: 15px;
}

.containerKanan {
  float: right;
  width: 53%;
}

.search_section {
  align-items: center;
  padding: 18px 18px 10px;
}

.search_section > h2 {
  color: #0a2540;
  text-align: center;
  margin-bottom: 12px;
}

.search_section > form {
  padding: 0 15px;
  width: 100%;
  border: 2px solid #0a2540;
  border-radius: 30px;
}

.search_section > form > table {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#searchBookTitle {
  width: 100%;
  border: none;
}

#searchBookTitle:focus {
  outline: none;
}

.material-icons {
  color: #0a2540;
}

.book_shelf {
  padding: 16px;
}

.book_shelf > h2 {
  color: #0a2540;
  border-bottom: 2px solid #0a2540;
}

.book_shelf > .book_list > .item {
  border: 2px dotted black;
  border-radius: 8px;
}

.book_shelf > .book_list > .item > h3,
p {
  margin: 10px 0 5px 0;
}

.book_shelf > .book_list > .item > .action > button {
  border: 0;
  padding: 5px;
  margin: 5px 5px 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.cek-button {
  background: url(asset/cek-outline.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.cek-button:hover {
  background: url(asset/cek-solid.svg);
  background-size: contain;
}

.sampah-button {
  background: url(asset/sampah-outline.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.sampah-button:hover {
  background: url(asset/sampah-fill.svg);
  background-size: contain;
}

.undo-button {
  background: url(asset/undo-ouline.svg);
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url(asset/undo-ouline.svg);
  background-size: contain;
}

.item {
  border-radius: 15px;
  margin-top: 20px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
  border: 1px solid #0a2540;
}

.item > .inner h2 {
  margin-bottom: unset;
  color: #03045e;
}

.item > .inner p {
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .input_section {
    float: none;
    width: 100%;
  }

  .containerKanan {
    float: none;
    width: 100%;
  }

  .search_section {
    width: 100%;
  }

  .book_shelf {
    width: 100%;
  }
}
